asgiref==3.5.2
astroid==2.11.7
black @ git+https://github.com/psf/black@6064a435453cdba47c43d71f3d0ea1aa19a29206
click==8.1.3
colorama==0.4.5
defusedxml==0.7.1
diff-match-patch==20200713
dill==0.3.5.1
Django==4.0.4
django-baton==2.3.0
django-import-export==2.8.0
et-xmlfile==1.1.0
flake8==5.0.4
flake8-django==1.1.5
isort==5.10.1
lazy-object-proxy==1.7.1
MarkupPy==1.14
mccabe==0.7.0
mypy-extensions==0.4.3
mysqlclient==2.1.0
odfpy==1.4.1
openpyxl==3.0.10
pathspec==0.9.0
pep8==1.7.1
platformdirs==2.5.2
pybind11==2.9.2
pycodestyle==2.9.1
pyflakes==2.5.0
pylint-plugin-utils==0.7
PyYAML==6.0
sqlparse==0.4.2
tablib==3.2.1
tomli==2.0.1
tomlkit==0.11.2
typing_extensions==4.3.0
tzdata==2022.1
wrapt==1.14.1
xlrd==2.0.1
xlwt==1.3.0
